<footer>
<div>
  loggo
  <ul>
    <li>2021-Lima-Peru</li>
    <li>call us: 992246677</li>
  </ul>
</div>

<div>
  <h3>Tour</h3>
  <li>Thailand</li>
  <li>Thailand</li>
  <li>Thailand</li>
  <li>Thailand</li>
</div>
  
<div>
  <h3>Tour</h3>
  <li>Thailand</li>
  <li>Thailand</li>
  <li>Thailand</li>
  <li>Thailand</li>
</div>

<div>
  <h3>Tour</h3>
  <li>Thailand</li>
  <li>Thailand</li>
  <li>Thailand</li>
  <li>Thailand</li>
</div>

<div>
  <h3>Tour</h3>
  <li>Thailand</li>
  <li>Thailand</li>
  <li>Thailand</li>
  <li>Thailand</li>
</div>

</footer>
